@import "/dojox/grid/resources/Grid.css";
@import "/dojox/grid/resources/claroGrid.css";
.dojoxGrid table {
  margin: 0;
}
html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: Beteckna, Georgia, 'Verdana', 'Helvetica Neue', Helvetica, Arial, default;
  font-size: 16px;
}

.dijitTextBox {
    font-family: Beteckna, Georgia, 'Verdana', 'Helvetica Neue', Helvetica, Arial, default;
    font-size: 16px;
}

div#top-menu {
  left: 0px;
  right: 0px;
  padding: 5px 5px;
  position: absolute;
  text-align: right;
  z-index: 5;
}

div#stage-container {
    font-family: Beteckna, Georgia, 'Verdana', 'Helvetica Neue', Helvetica, Arial, default;
	margin-left: 20px;
	padding-bottom: 100px;
	position: absolute;
}

h1#title {
	margin-left: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  max-width: 720px;
}

div#stage {
	width: 720px;
}

div.asset-wrapper {
    margin: 0px;
    margin-left: 12px;
    padding: 0;
    padding-left: 4px;
    z-index: 2;
}

div.asset-types-container {
    margin: 20px 0px;
    border: 3px solid silver;
}

div#login {
  margin: 100px auto;
  width: 300px;
}

div#bottom-menu {
  margin-top: 20px;
}

div#notes {
	background-color: yellow;
	padding-bottom: 100px;
	position: absolute;
	top: 60px;
	left: 730px;
}

div#notes-hint {
	border: 2px dashed silver;
	color: silver;
	margin: 30px;
	padding: 10px;
	position: absolute;
}
