body {
    font-family: Beteckna, Georgia, 'Verdana', 'Helvetica Neue', Helvetica, Arial, default;
    font-size: 16px;
}

.dijitTextBox {
    font-family: Beteckna, Georgia, 'Verdana', 'Helvetica Neue', Helvetica, Arial, default;
    font-size: 16px;
}

div#stage-container {
    font-family: Beteckna, Georgia, 'Verdana', 'Helvetica Neue', Helvetica, Arial, default;
	margin-left: 20px;
	padding-bottom: 100px;
	position: absolute;
	top: 30px;
}

h1#title {
	margin-left: 10px;
    font-weight: bold;
}

div#stage {
	width: 720px;
}

div.asset-wrapper {
    margin: 0px;
    margin-left: 12px;
    padding: 0;
    padding-left: 4px;
    z-index: 2;
}

div.asset-types-container {
    margin: 20px 0px;
    border: 3px solid silver;
}

div#notes {
	background-color: yellow;
	padding-bottom: 100px;
	position: absolute;
	top: 60px;
	left: 730px;
}

div#notes-hint {
	border: 2px dashed silver;
	color: silver;
	margin: 30px;
	padding: 10px;
	position: absolute;
}
